 
<div class="container">
  <div class="dropdown">
      <label for="sortField">Sort by:</label>
      <select class="drop" id="sortField" [(ngModel)]="selectedField" (change)="sortStudents()">
        <option value="name">Name</option>
        <option value="age">Age</option>
        <option value="department">Department</option>
        <option value="totalMarks">Total Marks</option>
      </select>
  <label style="margin-left:15px;"  for="searchTerm">Search:</label>
  <input class="drop" placeholder="Search" type="text" id="searchTerm" [(ngModel)]="searchTerm">
  <button class="dropp"  type="submit" (click)="Search()">Search</button>
  <label style="margin-left:15px;" for="minMarks">Minimum Marks:</label>
  <input class="drop" type="number" id="minMarks" [(ngModel)]="minMarks">
  <button class="dropp" type="button" (click)="filterStudentsByMarks()">Filter</button>

  </div>
  <h1>Student Table</h1>
  <table >
    <thead>
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Age</th>
        <th scope="col">Department</th>
        <th scope="col">Total marks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.department }}</td>
        <td>{{ student.totalMarks }}</td>
      </tr>
    </tbody>
  </table>
</div>
